
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;  
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
  }

  .main{
    margin-left: 300px;
  }

  @media (max-width: 1199px) {
    #header {
      left: -300px;    
    }

    .main {
      margin-left: 0px;
    }

    .perfil {
      
      height: 100% !important;
      background: url("../imgs/rah2.jpg");
      background-size:cover;
      padding: 0;
      margin: 0;
      
    }

    .perfil h1{
      
      margin: auto !important;
      font-size: 5rem !important;
      font-weight: bold;
      text-shadow: 1px 2px 3px black;
      color: rgb(247, 245, 245);
    }

    .perfil h4{
    margin: 5vw 0 0 0 !important;
    font-weight: bold ;
    text-shadow: 1px 2px 3px black;
    color: rgb(247, 245, 245);
    
    }

    .imagen-nav{

      height: 30vw !important;
      width: 30vw !important;
      margin:0 0 3em 3em;
     
    }

    .card-img-top{

      height: 40vw !important;
      width: 40vw !important;
      text-align: center;
      border-radius: 20em;
  
    }

    .mobile-nav-toggle {
      position: fixed;
      right: 15px;
      top: 15px;
      z-index: 9998;
      border: 0;
      font-size: 24px;
      transition: all 0.4s;
      outline: none !important;
      background-color: #000000;
      color: #fff;
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      border-radius: 50px;
      cursor: pointer;
    }

    #portafolio{
      width: 92% !important;
      margin: auto !important;
    }
  
  }

  

  .acerca {

    font-size: 2rem;
    text-align: justify;
    padding: 2em;

  }

  .perfil {
    width: 100%;
    height: 100vh;
    background: url("../imgs/rah2.jpg");
    background-size: cover;
    
  }

  .perfil h1{
    margin: 0 0 0 50vw;
    padding: 20rem 0 0 0;
    font-size: 8rem;
    text-shadow: 1px 2px 3px black;
    color: rgb(247, 245, 245);
  }

  .perfil h4{

    margin: 0 0 0 50vw;
    text-shadow: 1px 2px 3px black;
    color: rgb(247, 245, 245);

  }

  .foto{
    text-align: center;
    margin: 4em 0 0 0;
  }

  .foto h2 {

    margin: 3vw 0 0 0;
  }

  .imagen-nav{

    height: 10vw;
    width: 10vw;
    text-align: center;
    border-radius: 20em;
  }

  .nav-menu {
    padding: 5vw 0 0 0;
    
  }

  .foto a{
    color: white;
  }

  .nav-menu a{
    color: white;
  }

  .nav-menu li, ul{

    margin: 0 0 0 10px;
    list-style: none;
    padding: 0 0 2vw 0;
    font-size: 1.8rem;
  }

  .redes-sociales{
    font-size: 1.5em;
  }

  .acercaDe{
    list-style: none;
    text-align: left;
    width: 98%;
  }

  .acercaDe li{
    padding-top: 2rem;
  }

  #portafolio, #estudios{
    padding: 2em 0 0 0;
  }

 

 

  #portafolio img{
    width: 50%;
    text-align: center;
    box-shadow: 0px 5px 15px black;
    margin-top: 3em;
    
    
  }

  #portafolio{
    width: 98%;
    margin: auto;
  }

  #portafolio h3{
    margin-bottom: 1em ;
  }

  #experienciaLaboral{
    padding: 4em 0 0 0;
  }
 
  #contacto{

    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center !important;
    
    
  }

  .card-img-top{

    height: 10vw;
    width: 10vw;
    text-align: center;
    border-radius: 20em;

  }

  

 

 
  
 
 

  

